.form {
  position: absolute;
  top: 10px;
  left: 10px;
  border: 1px solid #999;
  background-color: #fff;
  padding: 1rem;

  > div {
    display: flex;
    justify-content: space-between;
    padding: 0.25rem 0.5rem;
    margin-block: 0.5rem;
    border-radius: 3px;
    font-size: 0.8rem;
    cursor: pointer;
  }
}

.populated {
  background-color: #eee;
}

.regular {
  border: 1px dotted blue;
  color: #777;
}

.removeButton {
  border-radius: 50%;
  line-height: 1.1;
  font-size: 0.8rem;
  text-align: center;
  font-weight: bold;
  background-color: #999;
  color: #eee;
  width: 15px;
  height: 15px;
  margin-inline: 0.25rem;
}
